@font-face {
    font-family: Light;
    src: url(/fuentes/light.otf);
}
@font-face {
    font-family: regular ;
    src: url(/fuentes/regular.OTF);
}
body {
    margin: 0;
    padding: 0;
    background: url('Imagenes/fondo.png') no-repeat center center fixed;
    background-color: black;
    background-size: cover;
    font-family: regularJ;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.logo {
    position: absolute;
    top: 20vi;
    left: 45%;
    width: 10%;
    animation: desvanecer 2s;
    opacity: 0;
}

@keyframes desvanecer {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.form {
    position: absolute;
    background: white;
    border-radius: 3.5vi;
    text-align: center;
    width: 47vi;
    height: 37vi;
    top: 5.5vi;
    left: 26vi;
    opacity: 1;
    animation: aparecer 3s;
}

@keyframes aparecer {
    0% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 1; }
}



.bienvenidopanel {
    position: absolute;
    bottom: 15%;
    color: black;
    font-family: regular;
    top: 7.5vi;
    left: 11vi;
    font-size: 2vw;
}




.formulario1{
    position: absolute;
    border-radius: 20px;
    margin-bottom: 1%;
    font-size: 2vw;
    font-family: regular;
    top: 17vi;
    width: 30vi;
    left: 8.5vi;
    height: 2.5vi;
    border-color: #a7a7a7;
}
.palabra1{
    position: absolute;
    font-family: Light;
    font-size: 1.2vi;
    top: 15vi;
    left: 9.5vi;
}
.formulario2{
    position: absolute;
    border-radius: 20px;
    margin-bottom: 1%;
    font-size: 2vw;
    font-family: regular;
    top: 23vi;
    width: 30vi;
    left: 8.5vi;
    height: 2.5vi;
    border-color: #b9b9b9;
}
.palabra2{
    position: absolute;
    font-family: Light;
    font-size: 1.2vi;
    top: 20.7vi;
    left: 9vi;
}

.loguitoform {
    position: absolute;
    top: 1.5vi;
    left: 21vi;
    width: 10%;
}
.subtitulo{
    position: absolute;
    text-align: center;
    font-size: 1vi;
    font-family: Light;
    left: 10.5vi;
    top: 13vi;
}
.boton{
    background-color: transparent;
    border: none;
    font-size: 1.2vi;
    color: white;
    margin-top: 1vi;
}




.botonsito {
    position: absolute;
    top: 27vi;
    left: 15vi;
    height: 3.5vi;
    width: 16.5vi;
    background-color: #ff7221;
    border: #ff7221;
    border-radius: 2vi;
    cursor: pointer;
}



#pie {
    position: absolute;
    color: rgb(0, 0, 0);
    bottom: 2%;
    left: 8vi;
    text-align: center;
    color: black;
    font-family: Light;
    top: 32vi;
    font-size: 0.8vi;
}
