/* Pagina principal */
@font-face {
    font-family: Light;
    src: url(/fuentes/light.otf);
}
@font-face {
    font-family: regular ;
    src: url(/fuentes/regular.OTF);
}

.body {
    background-color: white;
    position: relative;
    width: 100%;
    height: 56.25%;
    font-family:regular;
}
.tituloindicadores{
    position: absolute;
    color: black;
    font-size: 2vw;
    left: 41%;
    top: 8vi;
    text-decoration: none;
}

.texto1{
    position: absolute;
    color: black;
    font-size: 1.3vw;
    font-family: Light;
    top: 13vi;
    left: 26.3%;
}
.indicador{
    position: absolute;
    color: black;
    font-size: 1.1VW;
    top: 18.5vi;
    left: 5%;
}
.descripcion{
    position: absolute;
    color: black;
    font-size: 1.1VW;
    top: 18.5vi;
    left: 18.5%;
}
.categoria{
    position: absolute;
    color: black;
    font-size: 1.1VW;
    top: 18.5vi;
    left: 31%;
}
.inicio{
    position: absolute;
    color: black;
    font-size: 1.1VW;
    top: 18.5vi;
    left: 39%;
}
.terminacion{
    position: absolute;
    color: black;
    font-size: 1.1VW;
    top: 18.5vi;
    left: 49%;
}
.formula{
    position: absolute;
    color: black;
    font-size: 1.1VW;
    top: 18.5vi;
    left: 62%;
}
.frecuencia{
    position: absolute;
    color: black;
    font-size: 1.1VW;
    top: 18.5vi;
    left: 69%;
}
.cumplimiento{
    position: absolute;
    color: black;
    font-size: 1.1VW;
    top: 18.5vi;
    left: 78%;
}
.area{
    position: absolute;
    color: black;
    font-size: 1.1VW;
    top: 18.5vi;
    left: 89%;
}