/* Pagina Añadir */
@font-face {
    font-family: Light;
    src: url(/fuentes/light.otf);
}
@font-face {
    font-family: regular ;
    src: url(/fuentes/regular.OTF);
}

.body {
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
    height: 56.25%;
    font-family:regular;
}

/* ------------------------------------------------------------------------------------ */
/* style reportesssss */

.titulo {
    position: absolute;
    top: 5.8vi;
    left: 38vw;
    font-size: 1.6vw;
    font-family: regular;
    text-align: center;
    color: #ff7221;
}

.cuadronaranja,
.cuadronaranja2,
.cuadronaranja3 {
    position: absolute;
    width: 90%;
    margin: 2vw auto;
    border-radius: 10px;
    color: white;
    font-family: Light;
}

.cuadronaranja {
    top: 6.3vi;
    left: 3vi;
    height: 12vi auto;
    padding: 2vw;
    font-size: 1.5vw;
    width: 89%;
    height: 12vi; 
    background-color: #ff7221;
}

.textocuadronaranja,
.textocuadronaranja2,
.textocuadronaranja3 {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
    font-family: Light;
    top: 2vi;
    left: 7%;
}

.textocuadronaranja2{
    position: absolute;
    top: 28vi;
    left: 5%;

}
.textocuadronaranja3{
    position: absolute;
    top: 28vi;
    left: 54%;

}

.cuadronaranja2 {
    top: 24vi;
    left: 3vi;
    height: auto;
    padding: 2vw;
    font-size: 1.8vw;
    background-color: #ff7221;
    width: 41%;
    height: 18.5vi;  
    margin: 20px auto;
    border-radius: 10px;
}

.cuadronaranja3 {
    top: 24vi;
    left: 49%;
    height: auto;
    padding: 2vw;
    font-size: 1.8vw;
    width: 43%;
    height: 18.5vi;  
    margin: 20px auto;
    background-color:#ff7221; 
}

.subrecuadro1,
.subrecuadro2 {
    position: absolute;
    width: 37%;
    height: 5vi;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 5px;
    white-space: nowrap;
}

.subrecuadro1 {
    top: 33vi;
    left: 5%;
}

.subrecuadro2 {
    top: 39vi;
    left: 5%;
}

.formulario1,
.formulario2 {
    position: absolute;
    font-size: 1vw;
    font-family: regular;
    width: 30vi;
    margin-left: 1vw;
    top: 2.5vi;
}


.cuadroblanco,
.cuadroblanco2 {
    position: absolute;
    top: 30vi;
    left: 18%;
    width: 12%;
    height: 1vi;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    font-size: 1vw;
    font-family: regular;
    cursor: pointer;
}
.cuadroblanco{
    position: absolute;
    top: 45vi;

}

.cuadroblanco2 {
    position: absolute;
    top: 33vi;
    left: 54%;
    width: 35%;
    height: 12vi;
    margin: 10px auto;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    font-size: 1vw;
    font-family: regular;
    cursor: pointer;
}

.texto3 {
    position: absolute;
    margin-left: 1vw;
    font-size: 1vw;
    font-family: regular;
    top: 1vi;
}

.texto2 {
    position: absolute;
    margin-left: 1vw;
    font-size: 1vw;
    font-family: regular;
    top: 1vi;
}

@media only screen and (max-width: 414px) {
    .titulo {
      top: 10vi;
    }
    .cuadronaranja{
        top: 12vi;
    }
    .cuadronaranja2{
        top: 29vi;
    }
    .cuadronaranja3{
        top: 29vi;
    }
    .textocuadronaranja2{
        top: 36vi;
    }
    .textocuadronaranja3{
        top: 36vi;
    }
    .cuadroblanco{
        top: 49vi;
    }
    .cuadroblanco2{
        top: 39vi;
    }
    .subrecuadro1{
        top: 36vi;
    }
    .subrecuadro2{
        top: 42vi;
    }
  }

 







/* ------------------------------------------------------------------------------------ */
/* popup2 */


.modalDialog2 {
    position: fixed;
    font-family: regular;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    pointer-events: none;
}

.modalDialog2:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog2 > div {
    width: 50%; 
    position: absolute;
    left: 26.5%;
    margin: 5% auto;
    border-radius: 10px;
    height: 75vh;
    background: #fff;
}

.close2 {
    background: #606061;
    color: #FFFFFF;
    position: absolute;
    right: 0vw; 
    text-align: center;
    top: 0vh; 
    width: 4vw; 
    text-decoration: none;
}

.close2:hover {
    background: #00d9ff;
}

.bienvenida {
    position: absolute;
    top: 1vi;
    left: 30%;
    font-size: 1.7vw;
    text-align: center;
    font-family: regular;

}
.Datos {
    position: absolute;
    top: 11vi;
    left: 47%;
    font-size: 1.2vw;
    text-align: center;
    font-family: regular;
    color: #ff7221;

}

.foto{
    position: absolute;
    width: 10%;
    left: 45%;
    top: 6vi;
}
.cuadroprincipal{
    position: absolute;
    top: 14vi;
    left: 5%;
    width: 90%;
    height: 20vi;  
    margin: 20px auto;
    background-color:#ff7221; 
    border-radius: 10px;
}
.cuadrito1{
    position: absolute;
    top: 15vi;
    left: 15%;
    width: 70%;
    height: 3vi;  
    margin: 20px auto;
    background-color:#ffffff; 
    border-radius: 10px;
    font-size: 1vw;
    font-family: regular;
    text-align: center;
}
.cuadrito2{
    position: absolute;
    top: 18.5vi;
    left: 15%;
    width: 70%;
    height: 3vi;  
    margin: 20px auto;
    background-color:#ffffff; 
    border-radius: 10px;
    font-size: 1vw;
    font-family: regular;
    text-align: center;
}
.cuadrito3{
    position: absolute;
    top: 22vi;
    left: 15%;
    width: 33%;
    height: 10vi;  
    margin: 20px auto;
    background-color:#ffffff; 
    border-radius: 10px;
    font-size: 1vw;
    font-family: regular;
    text-align: center;
}
.subcuadrito3{
    position: absolute;
    top: 30vi;
    left: 25%;
    width: 14%;
    height: 1.5vi;  
    margin: 20px auto;
    background-color:#ff7221; 
    border-radius: 10px;
    font-size: 0.9vw;
    color: white;
    font-family: regular;
    text-align: center;
    cursor: pointer;
}

.cuadrito4{
    position: absolute;
    top: 22vi;
    left: 52%;
    width: 33%;
    height: 10vi;  
    margin: 20px auto;
    background-color:#ffffff; 
    border-radius: 10px;
    font-size: 1vw;
    font-family: regular;
    text-align: center;
    
}
.subcuadrito4{
    position: absolute;
    top: 25vi;
    left: 60%;
    width: 17%;
    height: 1.5vi;  
    margin: 20px auto;
    background-color:#ff7221; 
    border-radius: 10px;
    font-size: 0.9vw;
    color: white;
    font-family: regular;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width: 414px) {
    .titulo{
        left: 29vi;
        top: 14vi;
        font-size: 2.5vi;
    }
    .cuadronaranja{
        width: 60vi;
        height: 12vi;
        left: 14%;
        top: 23vi;
    }
    .cuadronaranja2{
        width: 60vi;
        left: 14%;
        top: 39vi;
    }
    .cuadronaranja3{
        width: 60vi;
        left: 14%;
        top: 65vi;
    }
    .textocuadronaranja2{
        left: 27vi;
        top: 46vi;

    }
    .subrecuadro1{
        left: 28vi;
        top: 52vi;

    }
    .formulario1{
        left: 0vi;

    }
    .subrecuadro2{
        left: 28vi;
        top: 46vi;

    }
    .formulario2{
        left: 0vi;

    }

    .textocuadronaranja3{
        top: 72vi;
        left: 28vi;

    }
    .cuadroblanco{
        left: 40vi;
        top: 59vi;
    }
    .cuadroblanco2{
        top: 75vi;
        left: 28vi;

    }
    .modalDialog2 > div {
        height: 40vi;
    }
}



