/* Pagina Añadir */
@font-face {
    font-family: Light;
    src: url(/fuentes/light.otf);
}
@font-face {
    font-family: regular ;
    src: url(/fuentes/regular.OTF);
}

.body {
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
    height: 56.25%;
    font-family:regular;
}

.bienvenido{
    position: absolute;
    color: black;
    top: 7vi;
    left: 44%;
    text-align: center;
    font-size: 1.2vw;
    font-family: Light;
}



/* Cuadro principal */
.cuadro1 {
    position: absolute;
    top: 6vi;
    left: 26%;
    width: 50%;
    height: 40vi;  
    margin: 20px auto;
    background-color:#ff7221; 
    border-radius: 10px;
}



.cuadro1 p {
    font-size: 1vw;
    font-size: 1vw;
    font-family: Light;
    top: 1vi; 
    text-align: center;
    color: #ffffff;
}

/* Cuadros secundarios */

.recuadro1 {
    position: absolute;
    top: 3vi;
    left: 10%;
    width: 80%;
    height: 3.5vi;  
    background-color:#ffffff; 
    border-radius: 5px;
}
.recuadro1 div{
    position: absolute;
    font-size: 0.95vw;
    font-family: regular;
    top: 0.5vi;
    left: 2%;
    color: black;
}
.headcuadro{
    font-size: 1.3vi;
}

.recuadro1 input{
    position: absolute;
    font-size: 1vw;
    font-family: 'Regular', sans-serif;
    height: 1.1vi;
    top: 33%;
    left: 5%;
    border-color: #dfdfdf;
}
.recuadro2 {
    position: absolute;
    top: 7vi;
    left: 10%;
    width: 80%;
    height: 3.5vi;  
    background-color:#ffffff; 
    border-radius: 5px;
}
.recuadro2 div{
    position: absolute;
    font-size: 0.95vw;
    font-family: regular;
    top: 0.5vi;
    left: 2%;
    color: black;
}
.recuadro2 input{
    position: absolute;
    font-size: 1vw;
    font-family: 'Regular', sans-serif;
    height: 1.1vi;
    width: 25vi;
    top: 33%;
    left: 5%;
    border-color: #dfdfdf;

}

.recuadro3 {
    position: absolute;
    top: 11vi;
    left: 10%;
    width: 80%;
    height: 3.5vi;  
    background-color:#ffffff; 
    border-radius: 5px;
}
.recuadro3 div{
    position: absolute;
    font-size: 0.95vw;
    font-family: regular;
    top: 0.5vi;
    left: 2%;
    color: black;
}
.recuadro3 select{
    position: absolute;
    width: 8vw;
    height: 1.5vi;
    border-color: #adadad;
}

.recuadro4 {
    position: absolute;
    top: 15vi;
    left: 10%;
    width: 80%;
    height: 3.5vi;  
    background-color:#ffffff; 
    border-radius: 5px;
}
.recuadro4 div{
    position: absolute;
    font-size: 0.95vw;
    font-family: regular;
    top: 0.5vi;
    left: 2%;
    color: black;
}
.recuadro4 input{
    position: absolute;
    font-size: 1vw;
    font-family: 'Regular', sans-serif;
    height: 1.1vi;
    top: 33%;
    left: 5%;
    border-color: #dfdfdf;
}
.recuadro5 {
    position: absolute;
    top: 19vi;
    left: 10%;
    width: 80%;
    height: 3.5vi;  
    background-color:#ffffff; 
    border-radius: 5px;
}
.recuadro5 div{
    position: absolute;
    font-size: 0.95vw;
    font-family: regular;
    top: 0.5vi;
    left: 2%;
    color: black;
}
.recuadro5 input{
    position: absolute;
    font-size: 1vw;
    font-family: 'Regular', sans-serif;
    height: 1.1vi;
    top: 33%;
    left: 5%;
    border-color: #dfdfdf;
}
.recuadro6 {
    position: absolute;
    top: 23vi;
    left: 10%;
    width: 80%;
    height: 3.5vi;  
    background-color:#ffffff; 
    border-radius: 5px;
}
.recuadro6 div{
    position: absolute;
    font-size: 0.95vw;
    font-family: regular;
    top: 0.5vi;
    left: 2%;
    color: black;
}
.recuadro6 input{
    position: absolute;
    font-size: 1vw;
    font-family: 'Regular', sans-serif;
    height: 1.1vi;
    top: 33%;
    left: 5%;
    border-color: #dfdfdf;
}
.recuadro7 {
    position: absolute;
    top: 27vi;
    left: 10%;
    width: 80%;
    height: 3.5vi;  
    background-color:#ffffff; 
    border-radius: 5px;
}
.recuadro7 div{
    position: absolute;
    font-size: 0.95vw;
    font-family: regular;
    top: 0.5vi;
    left: 2%;
    color: black;
}
.recuadro7 input{
    position: absolute;
    font-size: 1vw;
    font-family: 'Regular', sans-serif;
    height: 1.1vi;
    top: 33%;
    left: 5%;
    border-color: #dfdfdf;
}
.recuadro8 {
    position: absolute;
    top: 31vi;
    left: 10%;
    width: 80%;
    height: 3.5vi;  
    background-color:#ffffff; 
    border-radius: 5px;
}
.recuadro8 div{
    position: absolute;
    font-size: 0.95vw;
    font-family: regular;
    top: 0.5vi;
    left: 2%;
    color: black;
}
.recuadro8 select{
    position: absolute;
    width: 8vw;
    height: 1.5vi;
    border-color: #adadad;
}
.cuadro9 {
    position: absolute;
    top: 35.5vi;
    left: 38%;
    width: 20%;
    height: 2.5vi;  
    background-color:#f3f3f3; 
    border-radius: 5px;
}
.cuadro9 a{
    position: absolute;
    font-size: 1vw;
    font-family: regular;
    top: 0.5vi;
    left: 8%;
    color: black;
    width: 80%;
    height: 2vi;  
    background-color: #f3f3f3;
    text-align: center;
}



/* ------------------------------------------------------------------------------------------- */
/* popup1 */
.modalDialog {
    position: fixed;
    font-family: regular;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

cc

.close {
    background: #606061;
    color: #FFFFFF;
    position: absolute;
    right: 0vw; 
    text-align: center;
    top: 0vh; 
    width: 4vw; 
    text-decoration: none;
}

.close:hover {
    background: #00d9ff;
}


/* ------------------------------------------------------------------------------------ */
/* popup2 */


.modalDialog2 {
    position: fixed;
    font-family: regular;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    pointer-events: none;
}

.modalDialog2:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog2 > div {
    width: 50%; 
    position: absolute;
    left: 26.5%;
    margin: 5% auto;
    border-radius: 10px;
    height: 75vh;
    background: #fff;
}

.close2 {
    background: #606061;
    color: #FFFFFF;
    position: absolute;
    right: 0vw; 
    text-align: center;
    top: 0vh; 
    width: 4vw; 
    text-decoration: none;
}

.close2:hover {
    background: #00d9ff;
}

.bienvenida {
    position: absolute;
    top: 1vi;
    left: 30%;
    font-size: 1.7vw;
    text-align: center;
    font-family: regular;

}
.Datos {
    position: absolute;
    top: 11vi;
    left: 47%;
    font-size: 1.2vw;
    text-align: center;
    font-family: regular;
    color: #ff7221;

}

.foto{
    position: absolute;
    width: 10%;
    left: 45%;
    top: 6vi;
}
.cuadroprincipal{
    position: absolute;
    top: 14vi;
    left: 5%;
    width: 90%;
    height: 20vi;  
    margin: 20px auto;
    background-color:#ff7221; 
    border-radius: 10px;
}
.cuadrito1{
    position: absolute;
    top: 15vi;
    left: 15%;
    width: 70%;
    height: 3vi;  
    margin: 20px auto;
    background-color:#ffffff; 
    border-radius: 10px;
    font-size: 1vw;
    font-family: regular;
    text-align: center;
}
.cuadrito2{
    position: absolute;
    top: 18.5vi;
    left: 15%;
    width: 70%;
    height: 3vi;  
    margin: 20px auto;
    background-color:#ffffff; 
    border-radius: 10px;
    font-size: 1vw;
    font-family: regular;
    text-align: center;
}
.cuadrito3{
    position: absolute;
    top: 22vi;
    left: 15%;
    width: 33%;
    height: 10vi;  
    margin: 20px auto;
    background-color:#ffffff; 
    border-radius: 10px;
    font-size: 1vw;
    font-family: regular;
    text-align: center;
}
.subcuadrito3{
    position: absolute;
    top: 30vi;
    left: 25%;
    width: 14%;
    height: 1.5vi;  
    margin: 20px auto;
    background-color:#ff7221; 
    border-radius: 10px;
    font-size: 0.9vw;
    color: white;
    font-family: regular;
    text-align: center;
    cursor: pointer;
}

.cuadrito4{
    position: absolute;
    top: 22vi;
    left: 52%;
    width: 33%;
    height: 10vi;  
    margin: 20px auto;
    background-color:#ffffff; 
    border-radius: 10px;
    font-size: 1vw;
    font-family: regular;
    text-align: center;
    
}
.subcuadrito4{
    position: absolute;
    top: 25vi;
    left: 60%;
    width: 17%;
    height: 1.5vi;  
    margin: 20px auto;
    background-color:#ff7221; 
    border-radius: 10px;
    font-size: 0.9vw;
    color: white;
    font-family: regular;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width: 414px) {
    .bienvenida {
        top: 2vi;
    }
    .cuadro1{
        top: 6vi;
        left: 5%;
        width: 80%;
        height: 60vi;  

    }
    .recuadro1
    {
        width: 90%;
        height: 5vi;
        left: 5%;
        top: 7vi;
    }
    .recuadro2
    {
        width: 90%;
        height: 5vi;
        left: 5%;
        top: 13vi;
    }
    .recuadro3
    {
        width: 90%;
        height: 5vi;
        left: 5%;
        top: 19vi;
    }
    .recuadro3 select{
        width: 13vw;
        height: 2.5vi;
        border-color: #adadad;
        font-size: 1.5vi;
    }
    .recuadro4
    {
        width: 90%;
        height: 5vi;
        left: 5%;
        top: 25vi;
    }
    .recuadro5
    {
        width: 90%;
        height: 5vi;
        left: 5%;
        top: 31vi;
    }
    .recuadro6
    {
        width: 90%;
        height: 5vi;
        left: 5%;
        top: 37vi;
    }
    .recuadro7
    {
        width: 90%;
        height: 5vi;
        left: 5%;
        top: 43vi;
    }
    .recuadro8
    {
        width: 90%;
        height: 5vi;
        left: 5%;
        top: 49vi;
    }
    .recuadro8 select{
        width: 13vw;
        height: 2.5vi;
        border-color: #adadad;
        font-size: 1.5vi;
    }
    .cuadro9{
        top: 55vi;
        left: 40%;
    }
    .modalDialog  div {
   
        height: 0vh;

    }
    .modalDialog2 > div {
        height: 40vi;
    }

    





