@font-face {
    font-family: Light;
    src: url(/fuentes/light.otf);
}
@font-face {
    font-family: regular ;
    src: url(/fuentes/regular.OTF);
}

/* -------------------------------- */
/* MENU PRINCIPAL */

.body {
    background-color: white;
    position: relative;
    width: 100%;
    height: 56.25%;
    font-family:regular;
}



.imgañadir {
    position: absolute;
    display: flex;
    width: 2%;
    left: 8vw;
    top: 2vh;
}

.textoañadir {
    position: absolute;
    font-size: 1.4vw;
    left: 11vw;
    top: 2.5vh;
    text-decoration: none;
    color: black;
}


.imgrecargar {
    position: absolute;
    display: flex;
    width: 1.9%;
    left: 20%;
    top: 2vh; 
}
.textorecargar {
    position: absolute;
    font-size: 1.4vw;
    left: 23vw;
    top: 2.5vh;
    text-decoration: none;
    color: black;
}

.imgeliminar {
    position: absolute;
    display: flex;
    width: 1.5%;
    left: 33%;
    top: 2vh;
}
.textoeliminar {
    position: absolute;
    font-size: 1.4vw;
    left: 36vw;
    top: 2.5vh;
    text-decoration: none;
    color: black;
}

.imglogo {
    position: absolute;
    display: flex;
    width: 2.5%;
    left: 50%;
    top: 2vh;
    transform: translateX(-50%);
}
.imgreportes {
    position: absolute;
    display: flex;
    width: 1.8%;
    left: 63%;
    top: 2vh;
}
.textoreportes {
    position: absolute;
    font-size: 1.4vw;
    left: 66vw;
    top: 2.5vh;
    text-decoration: none;
    color: black;
}
.imgayuda {
    position: absolute;
    display: flex;
    width: 2%;
    left: 77%;
    top: 2vh;
}
.textoayuda {
    position: absolute;
    color: black;
    font-size: 1.4vw;
    left: 80vw;
    top: 2.5vh;
    text-decoration: none;
}

.imgconfiguracion {
    position: absolute;
    display: flex;
    width: 1.3%;
    left: 89%;
    top: 2.5vh;
}
.imgnotificaciones {
    position: absolute;
    display: flex;
    width: 1.3%;
    left: 92%;
    top: 2.5vh;
}
.imgfotoperfil {
    position: absolute;
    display: flex;
    width: 2.5%;
    left: 95%;
    top: 1.5vh;

}

/* ---------------------------------------------- */