@font-face {
    font-family: Light;
    src: url(/fuentes/light.otf);
}
@font-face {
    font-family: regular ;
    src: url(/fuentes/regular.OTF);
}

hr {
    margin-top: 2vh;  
    background-color: #838383;
    height: 2px; 
    border: none; 
}



.body {
    background-color: white;
    position: relative;
    width: 100%;
    height: 56.25%;
    font-family:regular;
}



.imgañadir {
    position: absolute;
    display: flex;
    width: 2.5%;
    left: 7vw;
    top: 3vh;
    transform: translateX(-50%);
}

.textoañadir {
    position: absolute;
    font-size: 1.3vw;
    left: 9vw;
    top: 4vh;
}

.imgrecargar {
    position: absolute;
    display: flex;
    width: 2.4%;
    left: 20%;
    top: 3vh; 
    transform: translateX(-50%);
}
.textorecargar {
    position: absolute;
    font-size: 1.3vw;
    left: 22vw;
    top: 4vh;
}

.imgeliminar {
    position: absolute;
    display: flex;
    width: 2%;
    left: 33%;
    top: 3vh;
    transform: translateX(-50%);
}
.textoeliminar {
    position: absolute;
    font-size: 1.3vw;
    left: 35vw;
    top: 4vh;
}

.imglogo {
    position: absolute;
    display: flex;
    width: 3%;
    left: 50%;
    top: 3vh;
    transform: translateX(-50%);
}
.imgreportes {
    position: absolute;
    display: flex;
    width: 2.3%;
    left: 63%;
    top: 3vh;
    transform: translateX(-50%);
}
.textoreportes {
    position: absolute;
    font-size: 1.3vw;
    left: 65vw;
    top: 4vh;
}
.imgayuda {
    position: absolute;
    display: flex;
    width: 2.5%;
    left: 77%;
    top: 3vh;
    transform: translateX(-50%);
}
.textoayuda {
    position: absolute;
    font-size: 1.3vw;
    left: 79vw;
    top: 4vh;
}

.imgconfiguracion {
    position: absolute;
    display: flex;
    width: 1.8%;
    left: 90%;
    top: 3.5vh;
    transform: translateX(-50%);
}
.imgnotificaciones {
    position: absolute;
    display: flex;
    width: 1.8%;
    left: 93.5%;
    top: 3.5vh;
    transform: translateX(-50%);
}
.imgfotoperfil {
    position: absolute;
    display: flex;
    width: 3%;
    left: 97%;
    top: 1.8vh;
    transform: translateX(-50%);
}





