@font-face {
    font-family: Light;
    src: url(/fuentes/light.otf);
}

@font-face {
    font-family: regular;
    src: url(/fuentes/regular.OTF);
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    background: url('imagenes/fondo.png') no-repeat center center fixed;
    background-color: black;
    background-size: cover;
    font-family: regular;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.cuadroblanco {
    position: absolute;
    background: white;
    border-radius: 3.5vi;
    box-shadow: 0 0 10% rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 53vi;
    height: 28vi;
    top: 12vi;
    left: 22vi;
    opacity: 1;
    animation: aparecer 3s forwards;
}
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    }
.loguito2 {
    position: absolute;
    width: 35%; 
    top: 1vi;
    left: 12vi;
}

.sub1 {
    position: absolute;
    top: 8.7vi;
    left: 19vi;
    font-size: 1.2vi;
    font-family: Light;
}

.fotopedrito {
    position: absolute;
    width: 35%;
    margin-top: 6.5vi;
    margin-left: 7.3vi;
    
}



.sub2 {
    position: absolute;
    top: 18.5vi;
    left: 17vi;
    text-align: center;
    font-size: 1.2vi;
    font-family: Light;
}

.pie2 {
    position: absolute;
    color: slategrey;
    top: 22vi;
    left: 22vi;
    color: black;
    font-size: 1vi;
}

.logo2 {
    position: absolute;
    width: 40%;
    top: 16vh; 
    left: 30%; /* Ajustado para que sea proporcional */
    animation: aparecer2 3s forwards;
    animation-delay: 4s;
    opacity: 0;
}

@keyframes aparecer2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 430px) {

    

    
    .cuadroblanco {
        margin-top: 30%;
        border-radius: 3.5vi;
        width: 60vi;
        height: 105vi;
        top: 10vi;
        left: 23vi;
        animation: aparecer 3s forwards;
    }
    @keyframes aparecer {
        0% {
            opacity: 0;
        }
        80%{
            opacity: 1;
        }
        90% {
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
        }
    
    .loguito2 {
        width: 60%; 
        top: 2vi;
        left: 10.2vi;
    }
    
    .sub1 {
        top: 30vi;
        left: 12vi;
        font-size: 3vi;

    }
    
    .fotopedrito {
        position: absolute;
        width: 60%;
        margin-top: 23vi;
        margin-left: 1.6vi;
        
    }
    
    
    
    .sub2 {
        top: 70vi;
        left: 3vi;
        font-size: 3vi;
    }
    
    .pie2 {
        top: 80vi;
        left: 17.5vi;
        font-size: 3vi;
    }
    
    .logo2 {
        width: 40vi;
        top: 40vi; 
        left: 16vi; 
        animation: aparecer2 2s forwards;
        animation-delay: 4s;
        opacity: 0;
    }
    @keyframes aparecer2 {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
}
}



