/* Pagina Añadir */
@font-face {
    font-family: Light;
    src: url(/fuentes/light.otf);
}
@font-face {
    font-family: regular ;
    src: url(/fuentes/regular.OTF);
}

.body {
    background-color: rgb(252, 231, 217);
    position: relative;
    width: 100%;
    height: 56.25%;
    font-family:regular;
}

.bienvenido{
    position: absolute;
    color: black;
    top: 7vi;
    left: 44%;
    text-align: center;
    font-size: 1.2vw;
    font-family: Light;
}



/* Cuadro principal */
.cuadro1 {
    position: absolute;
    top: 6vi;
    left: 26%;
    width: 50%;
    height: 40vi;  
    margin: 20px auto;
    background-color:#ff7221; 
    border-radius: 10px;
}



.cuadro1 p {
    font-size: 1vw;
    font-size: 1vw;
    font-family: Light;
    top: 1vi; 
    text-align: center;
    color: #ffffff;
}

/* Cuadros secundarios */

.recuadro1 {
    position: absolute;
    top: 3vi;
    left: 10%;
    width: 80%;
    height: 3.5vi;  
    background-color:#ffffff; 
    border-radius: 5px;
}
.recuadro1 div{
    position: absolute;
    font-size: 1vw;
    font-family: regular;
    top: 0.5vi;
    left: 2%;
    color: black;
}
.recuadro2 {
    position: absolute;
    top: 7vi;
    left: 10%;
    width: 80%;
    height: 3.5vi;  
    background-color:#ffffff; 
    border-radius: 5px;
}
.recuadro2 div{
    position: absolute;
    font-size: 1vw;
    font-family: regular;
    top: 0.5vi;
    left: 2%;
    color: black;
}

.recuadro3 {
    position: absolute;
    top: 11vi;
    left: 10%;
    width: 80%;
    height: 3.5vi;  
    background-color:#ffffff; 
    border-radius: 5px;
}
.recuadro3 div{
    position: absolute;
    font-size: 1vw;
    font-family: regular;
    top: 0.5vi;
    left: 2%;
    color: black;
}

.recuadro4 {
    position: absolute;
    top: 15vi;
    left: 10%;
    width: 80%;
    height: 3.5vi;  
    background-color:#ffffff; 
    border-radius: 5px;
}
.recuadro4 div{
    position: absolute;
    font-size: 1vw;
    font-family: regular;
    top: 0.5vi;
    left: 2%;
    color: black;
}
.recuadro5 {
    position: absolute;
    top: 19vi;
    left: 10%;
    width: 80%;
    height: 3.5vi;  
    background-color:#ffffff; 
    border-radius: 5px;
}
.recuadro5 div{
    position: absolute;
    font-size: 1vw;
    font-family: regular;
    top: 0.5vi;
    left: 2%;
    color: black;
}
.recuadro6 {
    position: absolute;
    top: 23vi;
    left: 10%;
    width: 80%;
    height: 3.5vi;  
    background-color:#ffffff; 
    border-radius: 5px;
}
.recuadro6 div{
    position: absolute;
    font-size: 1vw;
    font-family: regular;
    top: 0.5vi;
    left: 2%;
    color: black;
}
.recuadro7 {
    position: absolute;
    top: 27vi;
    left: 10%;
    width: 80%;
    height: 3.5vi;  
    background-color:#ffffff; 
    border-radius: 5px;
}
.recuadro7 div{
    position: absolute;
    font-size: 1vw;
    font-family: regular;
    top: 0.5vi;
    left: 2%;
    color: black;
}
.recuadro8 {
    position: absolute;
    top: 31vi;
    left: 10%;
    width: 80%;
    height: 3.5vi;  
    background-color:#ffffff; 
    border-radius: 5px;
}
.recuadro8 div{
    position: absolute;
    font-size: 1vw;
    font-family: regular;
    top: 0.5vi;
    left: 2%;
    color: black;
}
.cuadro9 {
    position: absolute;
    top: 35.5vi;
    left: 38%;
    width: 20%;
    height: 2.5vi;  
    background-color:#ffffff; 
    border-radius: 5px;
}
.cuadro9 div{
    position: absolute;
    font-size: 1vw;
    font-family: regular;
    top: 0.5vi;
    left: 38%;
    color: black;
}






