@font-face {
    font-family: Light;
    src: url(/fuentes/light.otf);
}
@font-face {
    font-family: regular ;
    src: url(/fuentes/regular.OTF);
}

/* -------------------------------- */
/* MENU PRINCIPAL */

.body {
    background-color: white;
    position: relative;
    width: 100%;
    height: 56.25%;
    font-family:regular;
}
.linea{
    position: absolute;
    width: 100%;
    height: 0.1vi;
    background-color: rgb(154, 154, 154);
    top: 4.6vi;
    margin: 0;
    z-index: 1;
}



.imgañadir {
    position: absolute;
    display: flex;
    width: 2%;
    left: 8vw;
    top: 2vh;
}

.textoañadir {
    position: absolute;
    font-size: 1.4vw;
    left: 11vw;
    top: 2.5vh;
    text-decoration: none;
    color: black;
}





.imgrecargar {
    position: absolute;
    display: flex;
    width: 1.9%;
    left: 20%;
    top: 2vh; 
}
.textorecargar {
    position: absolute;
    font-size: 1.4vw;
    left: 23vw;
    top: 2.5vh;
    text-decoration: none;
    color: black;
}

.imgeliminar {
    position: absolute;
    display: flex;
    width: 1.5%;
    left: 33%;
    top: 2vh;
}
.textoeliminar {
    position: absolute;
    font-size: 1.4vw;
    left: 36vw;
    top: 2.5vh;
    text-decoration: none;
    color: black;
}

.imglogo {
    position: absolute;
    display: flex;
    width: 2.5%;
    left: 50%;
    top: 2vh;
    transform: translateX(-50%);
}
.imgreportes {
    position: absolute;
    display: flex;
    width: 1.8%;
    left: 63%;
    top: 2vh;
}
.textoreportes {
    position: absolute;
    font-size: 1.4vw;
    left: 66vw;
    top: 2.5vh;
    text-decoration: none;
    color: black;
}
.imgayuda {
    position: absolute;
    display: flex;
    width: 2%;
    left: 77%;
    top: 2vh;
}
.textoayuda {
    position: absolute;
    color: black;
    font-size: 1.4vw;
    left: 80vw;
    top: 2.5vh;
    text-decoration: none;
}

.imgconfiguracion {
    position: absolute;
    display: flex;
    width: 1.3%;
    left: 89%;
    top: 2.5vh;
    cursor: pointer;
}
.imgnotificaciones {
    position: absolute;
    display: flex;
    width: 1.3%;
    left: 92%;
    top: 2.5vh;
    cursor: pointer;
}
.imgfotoperfil {
    position: absolute;
    display: flex;
    width: 2.5%;
    left: 95%;
    top: 1.5vh;

}

@media only screen and (max-width: 414px) {
    .linea{
        background-color: transparent;
    }

    .imglogo{
        width: 5%;
        left: 46%;
        top: 0.3vh;

    }
    
    .imgfotoperfil{
        left: 90%;
        width: 4%;
    }
    .imgconfiguracion{
        top: 4.5vh;
        width: 1.8%;
    }
    .imgnotificaciones{
        top: 4.5vh;
        width: 1.8%;
        left: 93%;
    }
    .imgañadir{
        width: 4%;
        left: 90%;
        top: 7vh;
    }
    .textoañadir{
        font-size: 1.7vi;
        left: 89.5%;
        top: 9.3vh;
    }

    .imgrecargar{
        width: 4%;
        left: 90%;
        top: 11vh;
    }
    .textorecargar{
        font-size: 1.7vi;
        left: 88.7%;
        top: 13.3vh;
        }
    

    .imgeliminar{
        width: 4%;
        left: 90%;
        top: 15vh;
    }
    .textoeliminar{
        font-size: 1.7vi;
        left: 89%;
        top: 18vh;
        }
    
    .imgreportes{
        width: 4%;
        left: 90%;
        top: 20vh;
    }
    .textoreportes{
        font-size: 1.7vi;
        left: 88.7%;
        top: 22.8vh;
        }
    
    .imgayuda{
        width: 4%;
            left: 90%;
            top: 25vh;  
    }
    .textoayuda{
        font-size: 1.7vi;
        left: 89.3%;
        top: 27.3vh;
     }
    

    
  }

/* ---------------------------------------------- */
